name: Frontend Image Build and Push

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      image_name:
        required: true
        type: string
      app_info:
        required: true
        type: string
    secrets:
      azure_creds:
        required: true
      docker_env:
        required: true

jobs:

  # ---------------------- Build Image ----------------------
  build-image:
    runs-on: ubuntu-latest
    env:
      ACR_NAME: ${{ fromJson(inputs.app_info).acr_name }}
      VITE_API_BASE_URL: ${{ fromJson(secrets.docker_env).VITE_API_BASE_URL }}
    outputs:
      next_version: ${{ steps.get_version.outputs.next_version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.azure_creds }}

      - name: Set version from GitHub Build ID
        id: get_version
        run: |
          echo "next_version=$GITHUB_RUN_NUMBER" >> $GITHUB_OUTPUT

      - name: Build frontend docker image
        run: |
          docker build \
            --build-arg VITE_API_BASE_URL=$VITE_API_BASE_URL \
            -t $ACR_NAME.azurecr.io/${{ inputs.image_name }}:v${{ steps.get_version.outputs.next_version }} ./frontend

      - name: Save image as artifact
        run: |
          docker save $ACR_NAME.azurecr.io/${{ inputs.image_name }}:v${{ steps.get_version.outputs.next_version }} -o /tmp/frontend-image.tar

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: frontend-image
          path: /tmp/frontend-image.tar

  # ---------------------- Push Image ----------------------
  push-image:
    runs-on: ubuntu-latest
    needs: build-image
    env:
      ACR_NAME: ${{ fromJson(inputs.app_info).acr_name }}
    outputs:
      next_version: ${{ needs.build-image.outputs.next_version }}
    steps:
      - name: Download image artifact
        uses: actions/download-artifact@v4
        with:
          name: frontend-image
          path: /tmp

      - name: Load Docker image
        run: docker load -i /tmp/frontend-image.tar

      - name: Log in to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.azure_creds }}

      - name: Log in to ACR
        run: az acr login --name $ACR_NAME

      - name: Push Docker image
        run: |
          docker push $ACR_NAME.azurecr.io/${{ inputs.image_name }}:v${{ needs.build-image.outputs.next_version }}

  # ---------------------- Update Web App ----------------------
  # update-webapp:
  #   runs-on: ubuntu-latest
  #   needs: push-image
  #   env:
  #     UI_APP_SERVICE_NAME: ${{ fromJson(inputs.app_info).ui_app_service_name }}
  #     APP_RESOURCE_GROUP: ${{ fromJson(inputs.app_info).app_resource_group }}
  #     ACR_NAME: ${{ fromJson(inputs.app_info).acr_name }}
  #   steps:
  #     - name: Log in to Azure
  #       uses: azure/login@v1
  #       with:
  #         creds: ${{ secrets.azure_creds }}

  #     - name: Set Web App Container Registry Credentials
  #       run: |
  #         az webapp config container set \
  #           --name $UI_APP_SERVICE_NAME \
  #           --resource-group $APP_RESOURCE_GROUP \
  #           --docker-custom-image-name $ACR_NAME.azurecr.io/${{ inputs.image_name }}:v${{ needs.push-image.outputs.next_version }} \
  #           --docker-registry-server-url https://$ACR_NAME.azurecr.io \
  #           --docker-registry-server-user $(az acr credential show -n $ACR_NAME --query username -o tsv) \
  #           --docker-registry-server-password $(az acr credential show -n $ACR_NAME --query passwords[0].value -o tsv)

  #     - name: Restart Web App
  #       run: |
  #         az webapp restart \
  #           --name $UI_APP_SERVICE_NAME \
  #           --resource-group $APP_RESOURCE_GROUP

  # ---------------------- Update Container App ----------------------
  update-containerapp:
    runs-on: ubuntu-latest
    needs: push-image
    env:
      UI_CONTAINER_APP_NAME: ${{ fromJson(inputs.app_info).ui_container_app_name }}
      APP_RESOURCE_GROUP: ${{ fromJson(inputs.app_info).app_resource_group }}
      ACR_NAME: ${{ fromJson(inputs.app_info).acr_name }}
    steps:
      - name: Log in to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.azure_creds }}

      - name: Set Container App Registry Credentials
        run: |
          az containerapp registry set \
            --name $UI_CONTAINER_APP_NAME \
            --resource-group $APP_RESOURCE_GROUP \
            --server $ACR_NAME.azurecr.io \
            --username $(az acr credential show -n $ACR_NAME --query username -o tsv) \
            --password $(az acr credential show -n $ACR_NAME --query passwords[0].value -o tsv)

      - name: Update Container App Image
        run: |
          az containerapp update \
            --name $UI_CONTAINER_APP_NAME \
            --resource-group $APP_RESOURCE_GROUP \
            --image $ACR_NAME.azurecr.io/${{ inputs.image_name }}:v${{ needs.push-image.outputs.next_version }}